%ul.nav-menu
  %li
    %h3
      Lessons
    %ul.submenu
      %li
        %a{href: '/lesson-0.mdown'} Setup
      %li
        %a{href: '/lesson-1.mdown'} Lesson 1
      %li
        %a{href: '/lesson-2.mdown'} Lesson 2
  %li
    %h3
      Reference
    %ul.submenu
      %li
        %a{href: '/references/colors'} Colors
      %li
        %a{href: '/references/turtles'} Turtles
      %li
        %a{href: '/references/miscellaneous'} Miscellaneous
